.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.2);  /* Black w/ opacity */
}
.modal-content2 {
position: relative;
background-color: rgba(255,255,255,1);
margin: auto;
padding: 0;
border-radius: 30px;
width: 640px;
height: 555px;
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
box-shadow: 0 0 10px black;
overflow: hidden;
border: 2px solid #00AEFF;
}
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}
@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
.close {
color: #8DB0D1;
float: right;
font-size: 50px;
font-weight: bold;
position: relative;
right: 11px;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
;
}
.modal-content2 input {
margin-left: 85px;
position: relative;
text-align: center;
border-radius: 36px;
font-size: 23px;
border:1px solid white;
outline: none;
border: 2px solid #129AFF;
height: 40px;
}
:focus::-webkit-input-placeholder {
color: transparent
}
:focus::-moz-placeholder {
color: transparent
}
:focus:-moz-placeholder {
color: transparent
}
:focus:-ms-input-placeholder {
color: transparent
}
.modal-content2 .input1 {
margin-top: 20px;
position: relative;
top: 70px;
width: 471px;
background-image: url('../img/modal-icons/modal2/position.svg');
background-repeat:no-repeat;
background-position-x: 13px;
background-position-y: 3px;
}
.modal-content2 .input2 {
position: relative;
top: 91px;
width: 200px;
border-radius: 16px;
}
.modal-content2 #scale {
background-image: url(../img/modal-icons/modal2/scale.svg);
background-repeat: no-repeat;
background-size: 30px;
background-position-x:10px;
background-position-y:5px;
}
.modal-content2 #block2 {
right: 77px;
width: 256px;
}
.modal-content2 .input3 {
width: 378px;
}
.modal-content2 .input4 {
margin-top: 80px;
width: 473px;
box-sizing: border-box;
height: 68px;
}
.modal-content2 p {
display: inline-flex;
position: relative;
margin-top: 120px;
}
.modal-content2 p a {
font-size: 22px;
position: relative;
left: 20px;
bottom:19px;
color: white;
}
.modal-content2 .logo1{
position: absolute;
left: 6px;
top: 49px;
}
.b-but2 {
right: 81px;
background-color: #00AEFF;
font-size: 28px;
color: #fff;
width: 168px;
height: 57px;
border-radius: 68px;
text-align: center;
position: relative;
top: 65px;
outline: none;
border:1px solid #00AEFF;
}



@media screen and (min-width: 320px) and (max-width: 765px) {
.modal-content2 {
		width: 99vw;
		height: 76vh;
	}
	.modal-content2 .input1 {
		width: 57vw;
	}
	.modal-content2 .input2 {
		top:23vh;
		width: 57vw;
	}
	.modal-content2 .input3 {
		width: 57vw;
		font-size: 2.6vh;
	}
	.modal-content2 #block2 {
		right: auto;
		top: 26vh;
		width: 57vw;
	}
	.b-but2 {
		right: 0;
		left: 29vw;
		top: 6vh;
	}
}
@media screen and (max-width: 320px) {
	.modal-content2 {
		height: 79vh;
		position: relative;
    	bottom: 8vh;
	}
	.modal-content2 input {
		margin-left: 21vw;
	}
	.modal-content2 .input1 {
		margin-top: 14px;
	}
	.modal-content2 #block2 {
		top: 28vh;
	}
	.modal-content2 .input2 {
		top:25vh;
	}
	.modal-content2 .input3 {
		bottom: 1vh;
	}
	.b-but2 {
		height: 8vh;
		top: 1vh;
		left: 25vw;
	}
}	
@media screen and (max-height: 812px) {
	.modal-content2 .input4 {
		width: 213px;
		height: 63px;
	}
	.modal-content2 .input2 {
		top: 20vh;
		width: 57vw;
	}
	.modal-content2 #block2 {
		top: 23vh;
	}
}