nav {
	display: inline-flex;
}
@media only screen and (max-device-width: 48em) {
.footer-menu {
    display: block;
}
}



.footer-menu {
	display: flex;
	padding: 6%;
	width:1700px;
	height: 400px;


}
.footer-menu ul {
	width: 300px;
}



h2{
	color:white;
	position: relative;
	top: 20px;
}
li {
	list-style: none;
	padding: 4%;
	position: relative;
	top:20px;
	

}

.footer-menu li > a {
	color:#DAD0E5;
	text-decoration: none;
}
.footer-bot {
	background-color: #003250;
	display: flex;
	margin:0px 0px 1px 0px;
	height: 200px;
}
.footer-bot > img {
	display: flex;
	position: sticky;
	left: 100px;
	width: 30%;
	height: 100%;
	border-right: 0.5px groove #fff;	
}
.conlogo {
	width: 200px;
	height: 200px;
	position: relative;
}
 #dwe, #whapp, #insta {
 	justify-content: center;
	left: 10em;

 }

.online_service, .tarifs, .useful_know, .about_us {
	position: relative;
	text-align: center;
	font-style: italic;

}
.online_service {
	left: 3em;
}
.tarifs {
	left: 2em;
}
.useful_know {
	left: 2em;
}
.about_us {
	left: 1.5em;	
}
.online_service > ul, .tarifs > ul, .useful_know > ul {
	border-right: 0.5px solid #fff;
}
.useful_know > ul {
	height: 334.5px;
}



 
 









