nav {
	display: inline-flex;
}
@media only screen and (max-device-width: 48em) {
.footer-menu {
    display: block;
}
}



.footer-menu {
	
	padding: 6%;
	width:1700px;
	height: 400px;


}
.footer-menu ul {
	width: 350px;
}

h2{
	color:white;
	position: relative;
	top: 20px;
}
li {
	list-style: none;
	padding: 2%;
	position: relative;
	top:20px;
}
.footer-menu li > a {
	color:grey;
}
.footer-bot {
	background-color: #002847;
}
.footer-bot > img {
	position: relative;
	left: 100px;
	width: 330px;
	
}
.conlogo {
	width: 100px;
	height: 100px;
	position: relative;
}
 #dwe, #whapp {
 	bottom: 15.5em;
 	left: 39em;
 }
 #insta {
 	bottom: 9em;
 	left: 32em;
 }
 
 









