#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 100vw;
    background: #0a2b42;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
    position: relative;
    left: 58vw;
    top: 7vh;
}
.side-button-1 .side-b {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #0a3250;
    cursor: pointer; 
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}


.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 13vw;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}






header {
display: flex;
background-color: #0c3152;
height: 18vh;
width: 100vw;
vertical-align: middle;
overflow: hidden;
}
.logo {
margin-left: 5vw;
width: 15vw;
}
.contacts {
width: 18vw;
margin: auto 1vw;
}
.contacts > a {
font-size: 1.3em;
display: block;
color: #fff;
text-decoration: none;
text-align: center;
}
.logoImg {
height: 95px;
}
.menu {
display: none;
}
.tracking {
width: 35vw;
padding: 6vh 2vw;
}
#trackID {
width: 100%;
font-size: 1.5em;
border-radius: 50px;
border: 3px solid #3469a0;
min-height: 5vh;
text-align: center;
}
.geoForTracking {
position: relative;
height: 5vh;
top: -6vh;
left: 96%;
background-color: #3469a0;
padding: 0.2em;
padding-right: 0.5em;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
outline: none;
}
.profile0 {
margin-left: 40%;
}
.profile0 img {
    position: relative;
    top: 49px;
    height: 5vh
}
.language {
display: flex;
width: 20vw;
height: 100%;
margin-left: 1vw;
margin-right: 0.8em;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.languageItem {
height: 1.58em;
width: 1.58em;
border: 2px solid #28aadc;
border-radius: 50%;
padding: 8px;
text-decoration: none;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
line-height: 1.58em;
font-weight: 700;
}
.languageItemActive {
background-color: #00ccff;
color: rgb(255, 255, 255);
}
.lan-dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 50px;
}
.lan-dropbtn
{
display: flex;
background: white;
margin-top: 25px;
width: 20px;
padding: 12px;
border-radius: 10px;
}
.lan-dropbtn::after {
content: "";
height: 16px;
position: absolute;
right: 0;
top: 7px;
width: 16px;
}
/* Links inside the dropdown */
.lan-dropdown-content a {
color: black;
padding: 2px 0 2px 15px;
text-decoration: none;
display: block;
}
/* Change color of dropdown links on hover */
.lan-dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.lan-dropdown:hover .lan-dropdown-content {
display: block;
}
.langElem {
    display: block;
    text-align: center;
}
.langElem:hover {
    cursor: pointer;
}
@media screen and (min-width: 1000px) {
		.burger{
			visibility: hidden;
		}
}
@media screen and (max-width: 1000px) {
	.contacts, .lan-dropdown, .profile0{
		display: none;
	}
}


@media screen and (min-width: 320px) and (max-width: 765px){
	 .contacts, .lan-dropdown{
		display: none;
	}
	header {
		height: 19vh;
	}
	.logoImg {
		height: 18vw;
    position: relative;
    top: 10vw;
	}
	.profile0, .dropdown-menu {
		visibility: hidden;
	}
	.burger {
	position: relative;
    top: 6.5vh;
    right: 0;
    left: 57vw;

	}
	.burger img {
	width: 18vw;
    height: 10vh;
	}

}


@media screen and (max-width: 320px) {
	.burger {
	position: relative;
    top: 6.2vh;
    left: 58vw;
	}
}
@media screen and (min-width: 414px) {

}
@media screen and (min-height: 812px) {
	.burger {
	position: relative;
   	top: 4.5vh;
    right: 0;
    left: 57vw;

	}
}