.form-page button {
outline: none;
}
.country {
	display: inline-flex;
	width: 350px;
	height: 45px;
	justify-content: center;
	border-radius: 66px;
	position: relative;
	right: 180px;
	margin: 2px;
}
.country p {
	margin-top: 12px;
}
.country:focus {
background-color: #4BC6FF;
}
.top-line {
	width: 433px;
	margin-left: 50px;
}
.form-page {
padding: 88px;
}
.page-container{
text-align: center;
font-size: 30px;
}
.page-container .data {
	margin-top: 30px;
	color:#40657C;
	font-family: sans-serif;

}
.page-container .country {
	margin-bottom:15px;
}
.page-container .page-info {
width: 40%;
display: flex;
grid-auto-flow: column;
margin-left: 121px;
margin-top: 25px;
margin-bottom: 30px;
}
.page-info input, .page-info-more input {
width: 374px;
font-size:20px;
border-radius: 12px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
margin:13px;
text-align: center;
background-color: #EDEDED;
height: 42px;
}
.page-info input {
margin-left: 83px;
}
.page-info-more input {
margin-right: 36px;
}
.page-info-more .more-delivery, .more-price, .page-pocket {
	margin-top: 25px;
	margin-bottom: 25px;
}
.page-info .icons {
border-right: 3px solid #00f;
border-top: 2px solid #000;
border-bottom: 2px solid #000;
border-left: 2px solid #000;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
margin: 0;
padding: 0;
display: flex;
height: 42px;
position: absolute;
padding-right: 40px;
margin-top: 13px;
margin-left: 40px;
}
.page-info-more .icons {
position: absolute;
padding-right: 40px;
height: 42px;
margin-left: 380px;
margin-top: 13px;
border-right:3px solid blue;
border-top:2px solid black;
border-bottom:2px solid black;
border-left:2px solid black;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
background-size: 38px;
}
.icons img {
position: absolute;    
width: 30px;
left: 6px;
top: 2px;
}
.page-pocket {
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px;

} 

.page-col1{
	display: flex;
	border-right: 2px solid #10B4FF;
	flex-direction: column;
}
.page-col1 label {
	margin-right: 140px;
}
.page-col2{
	display: flex;
	border-left: 2px solid #10B4FF;
	flex-direction: column;
}.page-col2 label {
	margin-left: 30px;
}
.quest-block {
	width: 50px;
	height: 50px;
	position: relative;
    left: 308px;
    bottom: 60px;
    background-image: url('../img/icons-for-oform/question.svg');
    background-size: 48px;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 10px;
}
.label2 {
	margin-right: 120px;
}
#col-block2{
	left: 371px;
}
#in2 , #in4 {
	position: relative;
	right: 300px;
}
.page-service {
	margin-top: 30px;
}
.page-service .quest-block-last{
	width: 50px;
	height: 50px;
	position: relative;
    background-image: url('../img/icons-for-oform/question.svg');
    background-size: 48px;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 10px;
    position: relative;
    right: 90px;
}
input {
outline: none;
}
:focus::-webkit-input-placeholder {
color: transparent
}

input[type="radio"] {
display:none;
outline: none;
}
input[type="radio"] + label span {
display:inline-block;
border-radius: 60px;
width:75px;
height:75px;
margin:-1px 4px 0 0;
vertical-align:middle;
background: #C4C4C4;
cursor:pointer;
outline: none;
-webkit-transition-duration: 2s;
-o-transition-duration: 2s;
-moz-transition-duration: 2s;
transition-duration: 2s;
}
input[type="radio"]:checked + label span {
background:url('../img/icons-for-oform/check.svg') left top no-repeat;
outline: none;
}
input[type="checkbox"] {
display:none;
outline: none;
}
input[type="checkbox"] + label span {
display:inline-block;
border-radius: 60px;
width:75px;
height:75px;
margin:-1px 4px 0 0;
vertical-align:middle;
background: #C4C4C4;
cursor:pointer;
outline: none;
-webkit-transition-duration: 2s;
-o-transition-duration: 2s;
-moz-transition-duration: 2s;
transition-duration: 2s;
}
input[type="checkbox"]:checked + label span {
background:url('../img/icons-for-oform/check.svg') left top no-repeat;
outline: none;
}
.final {
position: relative;
margin-top: 130px;
width: 40%;
height: 60px;
font-size: 30px;
background-color: #10B4FF;
border-radius: 60px;
}
hr {
background-color: #10B4FF;
height: 2px;
}
@media screen and (min-width: 1000px) {
	.mob-page-pocket, .mob-page-service {
		display: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 765px) {
	.page-pocket, .page-service {
		display: none;
	}

	.form-page {
		padding: 5vw;
	}
	.page-container {
		width: auto;
	}

	.country {
	right: 0;
   	width: 95%;
    height: 7vh;
	}
	.country.russia , .country.kazakhs {
		width: 34vw;
	}
	.top-line {
		margin-left: 0;
		width: 89vw;
	}
	.page-container .page-info {
		flex-direction: column;
		margin-left: 0;
		width: 100%;
	}
	.page-info input{
		margin-left: 0;
	}
	.page-info-more input {
		margin-right: 0;
	}
	.page-info input, .page-info-more input {
		width: 63vw;
		margin: 0;
		margin-bottom: 13px;
		position: relative;
		left:7vw;
		font-size: 2.3vh;
	}
.mob-page-pocket {
		flex-direction: column;
		padding: 0;
		margin-top: 2vh;
    	margin-bottom: 2vh;
	}
	.mob-page-pocket label, .mob-extra label {
		width: 65vw;
		display:flex;
	}
	.mob-page-pocket label > p, .mob-label3 p {
		margin-top: 2.5vh;
		font-size: 3.2vh;
		text-align: start;
	}
	.mob-page-col1, .mob-page-col2 {
		display: flex;
    	flex-wrap: wrap;
	}
	.m-quest-block  {
	width: 14vw;
    height: 7vh;
    margin-left: 8vw;
    margin-top: 0.7vh;
	}
	input[type="checkbox"] + label span {
	width: 16vw;
    height: 9vh;
    margin: -1px 4px 8px 0;
}	
.mob-page-service {
	margin-bottom: 4vh;
}
.mob-extra {
	margin-top: 2vh;
}
.mob-quest-block-last {
	width: 14vw;
    height: 7vh;
    position: relative;
    bottom: 9vh;
    left: 35vw;
}
.mob-final {
	width: 50vw;
    height: 8vh;
    border-radius: 3vh;
}
.page-info .icons, .page-info-more .icons {
	margin-left: 0;
    height: 6.3vh;
    margin-top: 0.2px;
    left: 13vw;
	}
	.icons img {
     width: 8vw;
    height: 8vh;
    left: 1.7vw;
    top: -1vh;
	}
	.page-info input, .page-info-more input {
		font-size: 2.3vh;
	}
}
@media screen and (max-width: 320px) {
	
	.page-info .icons, .page-info-more .icons {
		margin-left: 0;
   	 	height: 7.4vh;
    	margin-top: 0.4px;
    	left: 11vw;
	}
	.icons img {
    width: 8vw;
    height: 8vh;
    left: 2.7vw;
    top: -0.2vh;
	}
	.page-info input, .page-info-more input {
		font-size: 2.3vh;
	}
}	
@media screen and (min-width: 414px) {
	.page-info .icons, .page-info-more .icons {
	    margin-left: 0;
    height: 5.7vh;
    margin-top: 0.2px;
    left: 14.2vw;
	}
	.icons img {
      width: 6vw;
    height: 6vh;
    left: 2.3vw;
    top: -0.2vh;
	}
	.page-info input, .page-info-more input {
		font-size: 2.3vh;
	}

}
@media screen and (min-height: 812px) {
	.page-info .icons, .page-info-more .icons {
	    margin-left: 0;
    height: 5.2vh;
    margin-top: 0.2px;
    left: 14.2vw;
	}
	.icons img {
     width: 7vw;
    height: 7vh;
    left: 2.3vw;
    top: -1vh;
	}
	.mob-page-pocket label > p, .mob-label3 p {
		font-size: 2.7vh;
	}
	input[type="checkbox"] + label span {
		width: 18vw;
    	height: 9vh;
	}
	.page-info input, .page-info-more input {
		font-size: 1.9vh;
	}
}

