* {
padding: 0;
margin: 0;
font-family: 'Roboto Condensed', sans-serif;
}
body, html {
overflow-x: hidden; /* Управляем отображением содержание блочного элемента по горизонтали */
scroll-behavior: smooth;
}
.wrapper {
margin: 0 auto;
max-width:1100px;
width: 100%; 
}
.function {
display: flex;
margin-top: 130px;
justify-content: center;
}
.function-line {
display: inline-flex;
position: relative;
padding-bottom: 215px;
}
.function-line a {
text-decoration: none;
color: #2B526B;
}
.function-text {
padding: 40px;
font-family: Roboto;
font-size: 20px;
}
.square {
width: 190px;
height: 143px;
margin:30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 3px solid #13A2FF;
border-radius: 30px;
transition: .17s linear;
text-align: center;
color: #405F7C;
outline: none;
background-color: white;
}
.square:focus {
background-color: red;
}
.function-square {
margin-bottom: 15px;
}
.square-text {
font-size: 17px;
position: relative;
bottom: 10px;
}
.square-text:hover {
text-decoration: underline;
}
.square-img {
width: 100px;
height: 100px;
}
.info {
display: flex;
margin-top: 130px;
padding-bottom: 30px;
justify-content: center;
}
.info-line {
display: inline-flex;
width: 1024px;
justify-content: space-between;
}
.info-line a {
text-decoration: none;
color: #13A2FF;
}
.info-text {
padding: 40px;
}
.monitor {
width: 245px;
height: 300px;
margin:30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.info-monitor {
margin-bottom: 15px;
}
.monitor-text {
font-size: 40px;
position: relative;
top: 10px;
color: #02628B;
align-items: center;
}
.monitor p {
font-size: 20px;
color: #094E7A;
position: relative;
top: 20px;
text-align: center;
}
.monitor-img {
width: 240px;
height: 190px;
align-self: center;
}
.middle-text {
font-size: 40px;
color: #094E7A;
padding: 40px;	
position: relative;
left: 9.5em;
top: 3em;
}
.middle-line {
position: relative;
left: 10vw;
width: 80vw;
height: 4px;
background-color: #13A2FF;
width: 990px;
left: 215px;
text-align: center;
height: 3px;
}
.banner-text {
font-size: 33px;
text-align: center;
padding: 170px;
color: #02628B;
}
.banner {
margin-top: 300px;
position: relative;
top: 27px;
}
.banner-image {
width: 100%;
height: 100%;
}